@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ton design system custom ici */
.btn-primary {
  @apply px-4 py-2.5 bg-[#10B481] text-white text-sm rounded-xl hover:bg-[#0E9F6E] transition;
}

.btn-third {
  @apply px-4 py-2.5 bg-[#f4a261] text-white text-sm rounded-xl hover:bg-[#f4a261] transition;
}

.btn-neutre {
  @apply px-4 py-2.5 bg-[#F3F4F6] text-[#6B7280] text-sm border border-[#D1D5DB] rounded-xl hover:bg-[#E5E7EB] transition;
}

.btn-decline {
  @apply px-4 py-2.5 bg-[#EF4444] text-white text-sm rounded-xl hover:bg-[#DC2626] transition;
}